color1_font = #FFFFFF
color1_font_hover = #FFFFFF
color1_bg = #44A943
color1_bg_hover = #44A943
color2_font = #FFFFFF
color2_font_hover = #FFFFFF
color2_bg = #44A943
color2_bg_hover = #44A943
color3_font = #FFFFFF
color3_font_hover = #FFFFFF
color3_bg = #6F686E
color3_bg_hover = #534E52
button_font = #FFFFFF
button_font_hover = #FFFFFF
button_bg = #CA213E
button_bg_hover = #990000
