.header__navbar.actived
    .categories--justify
        .li--0
            .a--0
                span
                    display: block
                    overflow: hidden
                    text-overflow: ellipsis
                    white-space: nowrap

    #header-menu
        display: block !important

        @media (max-width: 991px)
            margin: 0 5%

        .ul--0
            display: block

        .a--0
            font-size: 16px !important
